@tailwind base;
@tailwind components;
@tailwind utilities;


.content-wrapper {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.content-wrapper.show {
    opacity: 1;
    max-height: 1000px; /* Adjust this value based on your content */
}